#import-gif {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.option {
  display: flex;
  justify-content: start;
  align-items: center;
}
.option .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.option .item .n {
  font-size: 14px;
  margin-right: 10px;
}
.option .item .num {
  width: 50px;
  margin-right: 10px;
}
.option .item .add,
.option .item .reduce {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 22px;
  background: rgb(182, 180, 180);
  margin-right: 5px;
  cursor: pointer;
}
