.box {
  padding-top: 20px;
  text-align: center;
}
#import-gif {
  width: 180px;
  height: 30px;
}
#select {
  width: 60px;
  height: 30px;
}
.option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.option input {
  width: 20px;
  margin-right: 5px;
}
.option .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  border: 1px solid rgb(223, 223, 223);
  padding: 10px 10px;
}
.option .item .n {
  font-size: 14px;
  margin-right: 10px;
}
.option .item .num {
  width: 20px;
  margin-right: 10px;
}
.option .giftext {
  width: 80px;
}
.option .item .add,
.option .item .reduce {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 22px;
  background: rgb(182, 180, 180);
  color: red;
  margin-right: 5px;
  cursor: pointer;
}
#info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#info .ul {
  display: flex;
}

#info .ul .li {
  margin-left: 20px;
  padding: 20px 40px;
  border: 1px solid #eee;
}
#info .ul .li .h3 {
  font-size: 18px;
  color: #333;
  text-align: center;
}
#info .ul .li .p {
  margin-top: 10px;
}
